{% extends "base.html" %}

{% block title %} {{title}} {% endblock %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

	<div class="content">
	<form name="Form" action="" method="post" onsubmit="">
		<div class="page-inner" style="margin-left: 30px;">
			<!-- Card -->
			<h4 class="page-title" style="margin-top: 100px; margin-bottom: 50px;">Dynamic Programming Algorithms / {{ title }}</h4>

			<div class="row">
				<div class="col">
					<div  class=" card card-stats card-primary card-round"  >
						
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="1" checked="checked">
										<i class="fa fa-file-text-o" ></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal1">Input1.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div  class=" card card-stats card-primary card-round"  >
						
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="2">
										<i class="fa fa-file-text-o" ></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal2">Input2.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div  class=" card card-stats card-primary card-round"  >
						
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="3">
										<i class="fa fa-file-text-o" ></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal3">Input3.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div  class=" card card-stats card-primary card-round"  >
						
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="4"> 
										<i class="fa fa-file-text-o" ></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal4">Input4.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div  class=" card card-stats card-primary card-round"  >
						
						<div class="card-body">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="5">
										<i class="fa fa-file-text-o" ></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal5">Input5.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
				<div class="row">
				<div class="col">
					<div class="card card-stats card-secondary card-round">

						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="6">
										<i class="fa fa-file-text-o"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal6">Input6.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card card-stats card-secondary card-round">

						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="7">
										<i class="fa fa-file-text-o"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal7">Input7.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-stats card-secondary card-round">

						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="8">
										<i class="fa fa-file-text-o"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal8">Input8.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-stats card-secondary card-round">

						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="9">
										<i class="fa fa-file-text-o"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal9">Input9.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card card-stats card-secondary card-round">

						<div class="card-body ">
							<div class="row">
								<div class="col-5">
									<div class="icon-big text-center">
										<input type="radio" style="margin-right: 10px;" name="file" value="10">
										<i class="fa fa-file-text-o"></i>
									</div>
								</div>
								<div class="col-7 col-stats">
									<div class="numbers">
										<p class="btn card-category" data-toggle="modal" data-target="#myModal10">Input10.txt</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			
			</div>
			

			<div class="col-6">
				<button type="submit" style="margin-bottom: 10px;" class="btn btn-round btn-success" id="runs" >
					<span class="btn-label">
						<i class="fa fa-play"></i>
					</span>
					Run
				</button>
			</div>

		</form>
			
	<div class="content">
		<div class="panel-header bg-primary-gradient" style="max-height: max-content;">
			<div class="page-inner"style="background-color:black; height:300px; overflow:scroll; font-family: monospace; color: #64cf38;">
				<p>{{ in1 }}</p>
				<p>{{ in2 }}</p>
				<p>{{ in3 }}</p>
				<p>{{output}}</p>
			</div>
		</div>
	</div>
		
	</div>
	</div>
<!-- 999999999999999999999999999999999999999999999999999999999999999999999999 -->
<!-- 999999999999999999999999999999999999999999999999999999999999999999999999 -->
<div id="myModal10" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input10.txt</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		  
		</div>
		<div class="modal-body" >
		  <p style="color: black;">{{ inpt[9] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal9" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content"  style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input9.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title"></h4>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[8] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>
  
  <div id="myModal8" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input8.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[7] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal7" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input7.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[6] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal6" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input6.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[5] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal5" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input5.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[4] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal4" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input4.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[3] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input3.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[2] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>
  		
  <div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input2.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[1] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>

  <div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">
  
	  <!-- Modal content-->
	  <div class="modal-content" style="margin-top: 65%;">
		<div class="modal-header">
			<h4 class="modal-title">Input1.txt</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
		<div class="modal-body">
		  <p style="color: black;">{{ inpt[0] }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
		</div>
	  </div>
  
	</div>
  </div>
<!-- 999999999999999999999999999999999999999999999999999999999999999999999999 -->
<!-- 999999999999999999999999999999999999999999999999999999999999999999999999 -->
{% endblock content %}
