		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

						<ul class="nav nav-primary">
					
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<h4 class="text-section" style="margin-bottom:80px; font-size: 32px;" >Dynamic Algorithms</h4>
							</li>

							<li class="nav-item"><a href=" {{ url_for('lcs') }}" ><!-- <i class="fas fa-rocket"></i> --><p>Longest Common Subsequence</p></a></li>
							<li class="nav-item">
								<a href=" {{ url_for('scs') }}" ><!-- <i class="fas fa-rocket"></i> --><p>Shortest Common Supersequence</p></a></li>
							<li class="nav-item">
								<a href="#forms" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Levenshtein Distance</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#tables" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Longest Increasing Subsequence</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#maps" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Matrix Chain Multiplication</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#charts" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>0/1 Knapsack Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/widgets.html" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Partition Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Rod Cutting Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Coin Change Making Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Word Break Problem</p>
								</a>
							</li>
						</ul>										

				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        