		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

						<ul class="nav nav-primary">
					
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<a href="{{ url_for('index') }}"><h4 class="text-section" style="margin-bottom:80px; font-size: 32px; color: white;" >Dynamic Algorithms</h4></a>
							</li>

							<li class="nav-item"><a href=" {{ url_for('lcs') }}" ><p>Longest Common Subsequence</p></a></li>
							<li class="nav-item"><a href=" {{ url_for('scs') }}" ><p>Shortest Common Supersequence</p></a></li>
							<li class="nav-item"><a href=" {{ url_for('lvd') }}" ><p>Levenshtein Distance</p></a></li>
							<li class="nav-item"><a href="{{ url_for('lis') }}" ><p>Longest Increasing Subsequence</p></a></li>
							<li class="nav-item"><a href="{{ url_for('mcm') }}" ><p>Matrix Chain Multiplication</p></a></li>
							<li class="nav-item"><a href="{{ url_for('ks01') }}" ><p>0/1 Knapsack Problem</p></a></li>
							<li class="nav-item">
								<a href="/widgets.html" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Partition Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Rod Cutting Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Coin Change Making Problem</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="#submenu" >
									<!-- <i class="fas fa-rocket"></i> -->
									<p>Word Break Problem</p>
								</a>
							</li>
						</ul>										

				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        